.product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  
  
  
  .product-card button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .product-card button:hover {
    background-color: #218838;
  }
  
  .product-card img {
    width: 150px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio, crop if necessary */
  }
  