button {
    color: #ff0000;
    background-color: #c7dbff;
    font-size: 19px;
    border: 3px solid #0059ff;
    border-radius: 14px;
    padding: 15px 50px;
    cursor: pointer
}
button:hover {
    color: #0059ff;
    background-color: #00233d;
}